* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 5px;
    margin: 5px;
}

form {
    padding: 5px;
    margin: 5px;
}

.container {
    padding: 5px 10px;
}
/* current info styling */

.current-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    width: fit-content;

}

.date-location-container {
display: flex;
flex-direction: column;
justify-content: left;
}

/* future weather styling  */
.forecast {
    display: flex;
    flex-direction: row;
    
}

.load-city-container {
    margin: 5px;
    padding: 5px
}

.forecast-day {
    border: 1px solid black;
    margin: 5px;
}

.weather-item {
margin: 5px;
padding: 5px;
display: flex;
justify-content: right;
}

